#root {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--black);

  margin: 0 !important;

  min-width: 320px;
  min-height: 100dvh;
  width: 100dvw;

  border: 1px solid var(--black-alt);
  background: var(--primary);
  padding: 42px 0 42px 44px;

  overflow: hidden;
}

#app {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

