:root {
  --accent2: #fee2c5;
  --black: #000a10;
  --blue: #c4ddff;
  --grey: #acadad;
  --primary: #d8e1ed;
  --secondary: #f9f9f9;
  --white: #fafdfe;
  --black-alt: #000a10;

  overflow: hidden;
  scroll-behavior: smooth;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}