.message {
  display: flex;
  /* width: 680px; */
  /* height: 116px; */
  padding: 25px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.message-wrapper {
  /* width: 703.981px; */
  /* height: 123.72px; */
  padding-bottom: 8px;
  margin: 1rem;
}

.message-wrapper.right {
  padding-right: 24px;

}

.message-wrapper.left {
  padding-left: 24px;
}

.client {
  background: var(--accent-2, #FEE2C5);
}

.ai {
  background: var(--blue, #C4DDFF);
}